<!-- 'Group 21 - COMP90024 Cluster and Cloud Computing' -->
<!--This is the main template of the website-->
<!doctype html>
<html>
<head>
    <title>Simple Dudes Keyword Sentiment Analysis</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="/lib/maplabel.js"></script>
    <script src="/lib/gmap-button.min.js"></script>
    <script src="/lib/chart.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/gmap-button.css" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,300|Dancing+Script' rel='stylesheet' type='text/css'>

<body>
{{{body}}}
</body>
</html>