<script src="/lib/home_map.js"></script>
<div id='container'>
<div id='map-canvas'></div>
<div id='result'>
    <h3 id="region_title">Analysis of</h3>
    <h3 id="keyword"><b>{{keyword}}</b></h3>
    <h4 id="region">in Singapore</h4>
    <div id="canvas-holder" >
        <canvas id="chart-area"/>
    </div>
    <div id="js-legend" class="chart-legend"></div>
</div>

</div>