<div style="margin:auto 0;">
    <form role="form" action="/home" method="POST">
        <div class="form-group">
            <input class="form-control" placeholder="Enter your keywords" id="keyword" name="keyword">
        </div>
    </form>
</div>