<!-- 'Group 21 - COMP90024 Cluster and Cloud Computing' -->
<!--This is the template for index page-->
<script>
    $( document ).ready(function() {
        $("#keyword").focus();
    });
</script>
<div id="loading">
    <img src="/img/logo.png">
<div id="input_key">
    <form role="form" action="/home" method="POST">
        <div class="form-group">
            <input class="form-control input-lg" placeholder="Enter your keywords" id="keyword" name="keyword" required>
        </div>
    </form>
</div>
</div>