body, html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}

#loading{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
#input_key {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
 #fountainTextG{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    width: 100%;
    height: 100%;
}
#map-canvas {
    width: 75%;
    height: 100%;
    float: left;;
}
#result {
    width: 25%;
    height: 100%;
    padding: 10px;
    float:right;
    text-align: center;
    background: #FBFBFB;
}
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.chart-legend {
    margin-left: -20px;
}


.chart-legend li {
    display: inline;
    margin-right: 10px;
}
#canvas-holder {
    width: 100%;
}
#chart-area, #bar-area {
    width: 100%;
    height: auto;
}

#region_title {
    margin: 3px;
}

#region {
    margin: 5px;
}

#keyword::-webkit-input-placeholder {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

#keyword:-ms-input-placeholder {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

#keyword:-moz-placeholder {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

#keyword::-moz-placeholder {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

#keyword {
    height: 60px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;

}
#key {
    margin-top: 0;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}

#fountainTextG{
    min-width:200px;
}

.fountainTextG{
    color:#96DB00;
    font-family:Dancing Script;
    font-size:50px;
    text-decoration:none;
    font-weight:normal;
    font-style:normal;
    float:left;
    -moz-animation-name:bounce_fountainTextG;
    -moz-animation-duration:0.8s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:normal;
    -moz-transform:scale(.5);
    -webkit-animation-name:bounce_fountainTextG;
    -webkit-animation-duration:0.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-transform:scale(.5);
    -ms-animation-name:bounce_fountainTextG;
    -ms-animation-duration:0.8s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:normal;
    -ms-transform:scale(.5);
    -o-animation-name:bounce_fountainTextG;
    -o-animation-duration:0.8s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:normal;
    -o-transform:scale(.5);
    animation-name:bounce_fountainTextG;
    animation-duration:0.8s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    transform:scale(.5);
}

#fountainTextG_1{
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
    -ms-animation-delay:0.2s;
    -o-animation-delay:0.2s;
    animation-delay:0.2s;
}

#fountainTextG_2{
    -moz-animation-delay:0.25s;
    -webkit-animation-delay:0.25s;
    -ms-animation-delay:0.25s;
    -o-animation-delay:0.25s;
    animation-delay:0.25s;
}

#fountainTextG_3{
    -moz-animation-delay:0.3s;
    -webkit-animation-delay:0.3s;
    -ms-animation-delay:0.3s;
    -o-animation-delay:0.3s;
    animation-delay:0.3s;
}

#fountainTextG_4{
    -moz-animation-delay:0.35s;
    -webkit-animation-delay:0.35s;
    -ms-animation-delay:0.35s;
    -o-animation-delay:0.35s;
    animation-delay:0.35s;
}

#fountainTextG_5{
    -moz-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -ms-animation-delay:0.4s;
    -o-animation-delay:0.4s;
    animation-delay:0.4s;
}

#fountainTextG_6{
    -moz-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -o-animation-delay:0.45s;
    animation-delay:0.45s;
}

#fountainTextG_7{
    -moz-animation-delay:0.5s;
    -webkit-animation-delay:0.5s;
    -ms-animation-delay:0.5s;
    -o-animation-delay:0.5s;
    animation-delay:0.5s;
}

#fountainTextG_8{
    -moz-animation-delay:0.55s;
    -webkit-animation-delay:0.55s;
    -ms-animation-delay:0.55s;
    -o-animation-delay:0.55s;
    animation-delay:0.55s;
}

#fountainTextG_9{
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -o-animation-delay:0.6s;
    animation-delay:0.6s;
}

#fountainTextG_10{
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
}

#fountainTextG_11{
    -moz-animation-delay:0.7s;
    -webkit-animation-delay:0.7s;
    -ms-animation-delay:0.7s;
    -o-animation-delay:0.7s;
    animation-delay:0.7s;
}

#fountainTextG_12{
    -moz-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -o-animation-delay:0.75s;
    animation-delay:0.75s;
}

@-moz-keyframes bounce_fountainTextG{
    0%{
        -moz-transform:scale(1);
        color:#96DB00;
    }

    100%{
        -moz-transform:scale(.5);
        color:#73A800;
    }

}

@-webkit-keyframes bounce_fountainTextG{
    0%{
        -webkit-transform:scale(1);
        color:#96DB00;
    }

    100%{
        -webkit-transform:scale(.5);
        color:#73A800;
    }

}

@-ms-keyframes bounce_fountainTextG{
    0%{
        -ms-transform:scale(1);
        color:#96DB00;
    }

    100%{
        -ms-transform:scale(.5);
        color:#73A800;
    }

}

@-o-keyframes bounce_fountainTextG{
    0%{
        -o-transform:scale(1);
        color:#96DB00;
    }

    100%{
        -o-transform:scale(.5);
        color:#73A800;
    }

}

@keyframes bounce_fountainTextG{
    0%{
        transform:scale(1);
        color:#96DB00;
    }

    100%{
        transform:scale(.5);
        color:#73A800;
    }

}
